<html>
<body>
<h1>Welcome ....  This is a Secured Home page..You must be authorized before you can see this.</h1>

<table >
	<tr>
		<td> <a href="#springUrl('/logout.do')">Logout</a></td>
    </tr>
</table>
</body>
</html>